/* css reset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primarycolor: #ff545a;
    --textcolor: #fcfcfc;
    --black: #343a3f;
    --h2size: 4rem;
    --pcolor: #767f86;
    --acolor: #859098;
}
.container{
    max-width: 90%;
    margin: 0px auto;

}
.mbot {
    margin-bottom: 100px;
}
a{
    text-decoration: none;
}

/* header start  */
header {
    background-color: var(--textcolor);
    padding: 1.2rem 0rem;
    position: sticky;
    top: 0;
    z-index: 1;


}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .left {
    font-size: 2rem;
}

nav .left span {
    color: var(--primarycolor);
}

nav .right {
    display: flex;
    gap: 2.3rem;
    padding: 10px 0px;
}

nav .right a {
    font-size: 1.1rem;
    color: var(--acolor);
    text-transform: uppercase;
    transition: all 0.5s;
}

nav .right a:hover {
    color: var(--primarycolor);
}

nav .right i {
    font-size: 1.5rem;
    display: none;

}


/* header end  */
/* form section start */
.form-section{
    display: flex;
    gap: 200px;

    flex-wrap: wrap;
}
.form-section h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
}
.form-section p{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--pcolor);
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    
   
    
}
.form-section .item{
    flex-basis: 300px;
    flex-grow: 1;
}
.form-item label{
     font-size: 1.1rem;
     font-weight: 400;
     
    
     
}
.form-item .inp{
    width: 100%;
    padding: 0.5rem 0.8rem;
    outline: none;
    background: transparent;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: 10px;
}
form a{
    border: none;
    background-color: var(--primarycolor);
    color: var(--textcolor);
    padding: 1rem 0.2rem;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}



/* form end  */

/* footer section start  */
footer{
    border-top: 1px solid rgb(0, 0, 0, 0.6);
    padding: 80px 0px;
   

}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.2rem 0px;
}
footer .div{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--pcolor);
    
    
}
footer .right-foot{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
footer .right-foot p{
    transform: translateY(0.7rem);
}
.right-foot a{
    color: #859098;
}

.right-foot .i{
    border: none;
    border-radius: 50%;
    padding: 0.8rem 0.8rem;
    background-color:#eef2f6;
    transition: all 0.5s;
}
.right-foot .i:hover{
    background-color: var(--primarycolor);
}
/* footer section end  */
/* media queries start  */
@media screen and (max-width:576px){
    .container{
        max-width: 100%;
        margin: 0px auto;
        padding: 0px 20px;
    
    
    }
    .mbot{
        margin-bottom: 70px;
    }
    .form-section{
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
    }
    footer{padding: 3rem 0px;

    }
    

}
/* tab styling start  */
@media screen and (max-width:770px){
    nav .right a{
        display:none;

    }
     .right .fa-solid{
        display:block;
    }
    

}
/* tab end  */
/* end    */