@media screen and (max-width:576px){
    .container{
        max-width: 100%;
        margin: 0px auto;
        padding: 0px 12px;
    
    
    }
    .m-bot{
        margin-bottom: 70px;
    }
   

}
/* tab styling start  */
@media screen and (max-width:770px){
    nav .right a{
        display:none;

    }
     .right .fa-solid{
        display:block;
    }

}
/* tab end  */