@media screen and (max-width:576px){
    .container{
        max-width: 100%;
        margin: 0px auto;
        padding: 0px 12px;
    
    
    }
    .mbot{
        margin-bottom: 70px;
    }
    #home{
        height: 670px;
        
    }
   #home h1{
    font-size: 2rem;
   }

}
/* tab styling start  */
@media screen and (max-width:770px){
    nav .right a{
        display:none;

    }
     .right .fa-solid{
        display:block;
    }

}
/* tab end  */