/* css reset  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

:root {
    --primarycolor: #ff545a;
    --textcolor: #fcfcfc;
    --black: #343a3f;
    --h2size: 4rem;
    --pcolor: #767f86;
    --acolor: #859098;
}

a {
    text-decoration: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;

}

.mbot {
    margin-bottom: 100px;
}

/* home start  */
#home {
    background: url(images/welcome-hero/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;






}

#home .bg {
    height: 100%;
    background-color: rgba(14, 107, 107, 0.6);
    padding-top: 80px;

}

/* header start  */
header {
    background-color: var(--textcolor);
    padding: 1.2rem 0rem;
    position: sticky;
    top: 0;
    z-index: 1;


}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .left {
    font-size: 2rem;
}

nav .left span {
    color: var(--primarycolor);
}

nav .right {
    display: flex;
    gap: 2.3rem;
    padding: 10px 0px;
}

nav .right a {
    font-size: 1.1rem;
    color: var(--acolor);
    text-transform: uppercase;
    transition: all 0.5s;
}

nav .right a:hover {
    color: var(--primarycolor);
}

nav .right i {
    font-size: 1.5rem;
    display: none;

}


/* header end  */
/* best place start  */
.best-place {
    text-align: center;
    color: var(--textcolor);
}

.best-place h1 {
    font-size: var(--h2size);
    margin-bottom: 30px;

}

.best-place p {
    font-size: 1.4rem;
    font-weight: bold;
}

#home .button-sec {
    display: flex;
    gap: 15px 30px;
    flex-wrap: wrap;
    justify-content: center;
}

#home .button-sec a {
    color: var(--textcolor);
    background-color: var(--primarycolor);
    padding: 0.8rem 1.3rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;


}

/* best place end  */


/* home end --  */

/* howit sec start  */
.howit-sec h2 {
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 20px;


}

.howit-sec>p {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 60px;
}

.howit-sec .card-sec {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.howit-sec .card-sec .card-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 2rem 1.5rem;
    align-items: flex-start;
    transition: all 0.8s;
    flex-basis: 300px;
    flex-grow: 1;




}

.card-sec .card-item:hover {
    background-color: var(--primarycolor);

}

.card-sec .card-item i {
    font-size: 3rem;
    background-color: rgb(238, 242, 246);
    border: none;
    padding: 20px;
    border-radius: 50%;
    color: var(--pcolor);


}

.card-sec .card-item h4 {
    font-size: 1.4rem;


}

.card-sec .card-item p {
    font-size: 1.1rem;
    font-weight: 400;

}

.card-sec .card-item a {
    color: var(--acolor);
    font-weight: 200;
    border: 0.5px solid rgb(0, 0, 0, 0.3);
    padding: 0.6rem 1.5rem;
    background-color: #fcfcfc;
    border-radius: 8px;

}

/* howit sec end  */
/* explore section start  */
#explore {
    background-color: #f8fafb;
    padding: 80px 0px;

}

.explore-section>h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    text-align: center;

}

.explore-section>p {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
}

.explore-section .explore-card {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.explore-section .explore-card .explore-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding-bottom: 20px;
    flex-basis: 350px;
    flex-grow: 1;
}

.explore-item .image-sec {
    overflow: hidden;


}

.explore-item .image-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-sec .hidden {
    display: flex;
    justify-content: space-between;
    padding: 0px 0.8rem;

    transition: all 0.5s;


}

.explore-item:hover .hidden {
    transform: translateY(-40px);
}

.hidden a {
    background-color: var(--primarycolor);
    border: none;
    border-radius: 5px;
    padding: 5px 0.7rem;
    color: var(--textcolor);
}

.hidden .right-logo {
    display: flex;
    gap: 1rem;
}

.right-logo i {
    background-color: #343a3f;
    color: var(--textcolor);
    padding: 0.3rem;
}



.explore-item .rating-form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.explore-item .below-img {
    padding: 0px 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.explore-item .below-img h4 {
    font-size: 1.3rem;

}

.below-img .rating-form .rating {
    border-right: 1px solid rgb(0, 0, 0, 0.5);
    padding-right: 0.7rem;

}

.below-img .rating-form .s1 {
    background-color: rgb(138, 43, 226, 0.7);
    color: var(--textcolor);
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
}

.below-img .logo {
    display: flex;
    gap: 0.8rem;

}




/* explore section end  */
/* review section start  */

.review-section>h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    text-align: center;

}

.review-section>p {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
}

.review-section .review-sec {
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
}

.review-sec .review-item {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 3rem 1.2rem;
    transition: all 0.5s;
    flex-basis: 350px;
    flex-grow: 1;
}

.review-item:hover {
    scale: 1.01;
}

.review-item .client {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.3rem;
}

.review-item .client p {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 5px 0px;
}

.client .star {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.client .star i {
    color: rgb(134, 196, 62);
}

/* review section end  */
/* blog section start  */
#blog-section .blog-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 1.9rem;
}
#blog-section>h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    text-align: center;

}

#blog-section>p {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
}

.blog-item {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.5s;
    flex-basis: 350px;
    padding-bottom: 1.3rem;
    flex-grow: 1;
}

.blog-item:hover {
    scale: 1.01;
}
.blog-item:hover h4{
    color:var(--primarycolor);
}
.blog-item img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.3rem;
}
.blog-item h4{
    font-size: 1.3rem;
    margin-bottom: 1rem;

}
.padd div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.8rem;
}
.blog-item .padd{
    padding: 0px 1.1rem;
}
.blog-item div .march{
    border-left: 1px solid black;
    padding-left:0.5rem ;
}
.blog-item p{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--pcolor);
}

/* blog section end  */
/* footer section start  */
footer{
    border-top: 1px solid rgb(0, 0, 0, 0.6);
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
footer .div{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--pcolor);
    
    
}
footer .right-foot{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
footer .right-foot p{
    transform: translateY(0.7rem);
}
.right-foot a{
    color: #859098;
}

.right-foot .i{
    border: none;
    border-radius: 50%;
    padding: 0.8rem 0.8rem;
    background-color:#eef2f6;
    transition: all 0.5s;
}
.right-foot .i:hover{
    background-color: var(--primarycolor);
}
/* footer section end  */